.todo-container {
    padding: 10px;
    .label-select {
        margin: 10px;
        border-left: 1px solid #999;
        padding: 8px;
        min-width: 100px;
    }
    .todo-content {
        margin: 30px 10px;
    }
    .todo-list {
        background: #fff;
        margin: 10px 0;
        border: 1px solid #ccc;
        .todo-completed{
        	text-decoration: line-through;
        }
    }
}
