<md-dialog aria-label="Todo" ng-cloak flex="50">
    <form name="todoForm">
        <md-dialog-content class="md-dialog-content">
            <h2 class="md-display-1">Update Todo</h2>
            <section layout-gt-xs="row" class="todo-content">
                <md-input-container class="md-block" flex-gt-xs style="margin: 0;">
                    <label>Add Todo</label>
                    <input ng-model="todo.name" required>
                </md-input-container>
                <md-input-container style="margin: 0;">
                    <label>Enter date</label>
                    <md-datepicker ng-model="todo.dueDate"></md-datepicker>
                </md-input-container>
                <md-input-container style="margin: 0;">
                    <label>Label</label>
                    <md-select ng-model="todo.label">
                        <md-option ng-repeat="item in labels" ng-value="item.label">
                            {{item.label}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </section>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end end">
            <md-button md-no-ink class="md-warn md-raised" ng-click="closeDialog()">Cancel</md-button>
            <md-button md-no-ink class="md-primary md-raised" ng-click="create()" ng-disabled="todoForm.$invalid">Update</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
