<md-dialog aria-label="Todo" ng-cloak flex="50">
    <form name="todoForm">
        <md-dialog-content class="md-dialog-content">
            <h2 class="md-display-1">Share {{todo.name}}</h2>
            <md-list flex>
                <md-list-item class="md-3-line" ng-repeat="person in users" ng-click="null">
                    <md-checkbox ng-model="person.isChecked" aria-label="Completed" class="todo-check">
                    </md-checkbox>
                    <img ng-src="{{person.logoImage? person.logoImage.mediaFileDetailsList[0].mediapath:logo}}" class="md-avatar" alt="{{person.firstName}}" />
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ person.firstName }}</h3>
                        <h4>{{ person.email }}</h4>
                    </div>
                </md-list-item>
            </md-list>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end end">
            <md-button md-no-ink class="md-warn md-raised" ng-click="closeDialog()">Cancel</md-button>
            <md-button md-no-ink class="md-primary md-raised" ng-click="create()" ng-disabled="todoForm.$invalid">Update</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
