<div layout="column" flex layout-fill ng-cloak class="md-whiteframe-4dp todo-container">
    <md-toolbar md-scroll-shrink style="display: none;">
        <div class="md-toolbar-tools">My Todos</div>
    </md-toolbar>
    <md-content style="min-height:400px;">
        <section layout-gt-xs="row" class="todo-content">
            <md-input-container class="md-block" flex-gt-xs style="margin: 0;">
                <label>Add Todo</label>
                <input ng-model="user.name" ng-keyup="$event.keyCode == 13 && addTodo()">
            </md-input-container>
            <md-input-container style="margin: 0;">
                <label>Enter date</label>
                <md-datepicker ng-model="user.dueDate"></md-datepicker>
            </md-input-container>
            <md-input-container style="margin: 0;">
                <label>Label</label>
                <md-select ng-model="user.label">
                    <md-option ng-repeat="item in labels" ng-value="item.label">
                        {{item.label}}
                    </md-option>
                </md-select>
            </md-input-container>
        </section>
        <section layout="row" class="filters">
            <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
                <md-nav-item md-nav-click="goto('all')" name="all">All</md-nav-item>
                <md-nav-item md-nav-click="goto('completed')" name="completed">Completed</md-nav-item>
            </md-nav-bar>
            <md-input-container class="label-select">
                <label>Label</label>
                <md-select ng-model="label">
                    <md-option ng-value="">All</md-option>
                    <md-option ng-repeat="item in labels" ng-value="item.label">
                        {{item.label}}
                    </md-option>
                </md-select>
            </md-input-container>
            <span flex></span>
            <md-button class="md-primary" aria-label="add" ng-click="addLabel($event)">
                Add Label
            </md-button>
        </section>
        <section ng-repeat="(dueDate, todoList) in todos">
            <md-subheader class="md-primary" ng-if="filtered.length">{{dueDate | date:'d MMM yyyy'}}</md-subheader>
            <md-list>
                <md-list-item ng-repeat="todo in todoList | filter : label as filtered" class="todo-list">
                    <md-checkbox ng-model="todo.isCompleted" aria-label="Completed" class="todo-check" ng-change="updateTodo(todo)">
                    </md-checkbox>
                    <p ng-class="{'todo-completed': todo.isCompleted == true}">{{todo.name}}</p>
                    <div class="md-caption">#{{todo.label}}</div>
                    <md-icon class="md-secondary material-icons edit-icon" ng-click="editTodo($event, todo)" aria-label="Chat">mode_edit</md-icon>
                    <md-icon class="md-secondary material-icons share-icon" ng-click="share($event, todo)" aria-label="Share" ng-show="configValues.share">share</md-icon>
                </md-list-item>
            </md-list>
        </section>
        <section ng-show="isEmpty" layout="column" layout-align="center center">
            <div class="md-body-2">No Todos to show</div>
        </section>
    </md-content>
</div>
